extends ../../layouts/default

block content
	.container-sm
		h1!=errorTitle || 'Error (500)'
		if 'object' == typeof errorMsg
			pre: code!= utils.htmlStringify(errorMsg)
		else
			p.lead!= utils.textToHTML(errorMsg) || 'Sorry, the server encountered an error.<br><br>Please try again shortly, or contact us if the problem continues.'
		
		if err && env == 'development'
			h4 Error Details
			pre: code
				if 'string' == typeof err
					!= utils.textToHTML(err)
				else
					!= utils.htmlStringify(err)
		hr.mb-2
		p
			| If you're seeing this error often please 
			a(href='https://github.com/JedWatson/keystone-forum/issues' target='_blank') log an issue on the Github project 
