include ../mixins/flash-messages

doctype html
html
	head
		include ../includes/htmlhead
		block css
	body
		.page-wrapper
			include ../includes/header
			
			block intro
			
			.forum-body
				block content
		
				
		include ../includes/footer
		
		block modal
			
		script(src="/js/lib/jquery/jquery-1.10.2.min.js")
		script(src='/js/lib/bootstrap/collapse.js')
		script(src='/js/lib/bootstrap/dropdown.js')
		script(src='/js/ui.js')
		//- script(src='/js/lib/bootstrap/dropdown.js')
		//- script(src='/js/lib/prism/prism.min.js')
		
		//- Page Scripts
		block js

