include ../../mixins/flash-messages

doctype html
html
	head
		include ../../includes/htmlhead
		block css
	body.confirm-page
		.container-xs
			.confirm-page__logo
				img(src='/images/logo.svg', alt='KeystoneJS', width=207, height=70)
			
			.forum-body
				form(method='post', autocomplete='off', novalidate).profile-form
					input(type='hidden', name='action', value='confirm.details')
					//- h3.profile-form__heading Confirm Details
					p.text-muted.mb-2 Thanks for joining the forum! Please confirm your details and we'll get you on your way:
					+flash-messages(messages)
					.form-group.form-row
						.col-xs-6: input(type='text' name='name.first' placeholder='First Name' value=authUser.name.first).form-control
						.col-xs-6: input(type='text' name='name.last' placeholder='Last Name' value=authUser.name.last).form-control
					.form-group
						input(type='email' name='email' placeholder='Email' value=authUser.email).form-control.form-control-labelled
					.form-group
						input(type='text' name='website' placeholder='Website (optional)' value=authUser.website).form-control.form-control-labelled
					.form-group
						button(type='submit').btn.btn-primary.btn-block That all checks out, let's go &rarr;
		
				
		//- include ../../includes/footer
			
		//- script(src="/js/lib/jquery/jquery-1.10.2.min.js")

