.docs-footer: .container
	| This forum is for the discussion of 
	a(href='http://keystonejs.com') KeystoneJS
	|  a Node.js content management system and web application platform built on express and mongo.