script.
	var _sf_startpt=(new Date()).getTime()
meta(charset="utf-8")
meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")

title!=(title ? title + ' &middot; ' : '') + 'KeystoneJS Forum'
meta(name="description" content=metadescription ? metadescription : "This forum is for the discussion of KeystoneJS a Node.js content management system and web application platform built on express and mongo.")

link(href="http://fonts.googleapis.com/css?family=Roboto:100,300,300italic,400", rel="stylesheet")
link(href="/styles/site.min.css", rel="stylesheet")
link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
