
// Flag
// ------------------------------

.flag {
	display: table;
	width: 100%;
	
	a& {
		&:hover {
			text-decoration: none;
		}
	}
}

	.flag__image,
	.flag__body {
		display: table-cell;
		vertical-align: middle;

		.flag--top & {
			vertical-align: top;
		}

		.flag--bottom & {
			vertical-align: bottom;
		}

	}

	.flag__image {
		padding-right: 10px;

		> img {
			display: block;
			max-width: none;
		}

		.flag--rev & {
			padding-right: 0;
			padding-left: 10px;
		}

	}

	.flag__body {
		width: 100%;
	}
