//
// Forms
// ==============================




.form-horizontal .control-label {
	text-align: left;
}
label.checkbox {
	font-weight: 300;
}
textarea {
	.resizable(vertical);
}

.faux-label {
	padding-top: @padding-base-vertical;
}

.at-username-field {
	position: relative;
	
	.form-control {
		padding-left: @font-size-base + @padding-base-horizontal;
	}
	
	&:before {
		color: @input-color-placeholder;
		content: "\0040"; // @ symbol
		left: @padding-base-horizontal;
		position: absolute;
		top: @padding-base-vertical;
	}
}


// Form Row
// more reasonable gap between from elements

.form-row {
	.make-row(5px);

	[class^="col-"] {
		padding-left: 5px;
		padding-right: 5px;
	}
}