//
// LAYOUT
// ==============================




// small container
.container-sm {
	.container-fixed();
	max-width: 400px;
}

// medium container
.container-md {
	.container-fixed();
	max-width: 600px;
}

// variable width container
.flexi-container {
	.container-fluid();

	min-width: @container-sm;
	max-width: @container-lg;
}

// header
.docs-header {
	.clearfix();
	border-bottom: 1px solid @gray-lighter;
	height: @navbar-height;
	line-height: @navbar-height;
	margin-bottom: 2em;
	position: relative;
	z-index: 1;
	
	.container {
		position: relative;
	}
	.keystone-logo {
		float: left;
		// img {
		// 	height: 35px;
		// 	width: 103px;
		// }
	}
	.social-buttons {
		float: left;
	}
	.social-button {
		display: inline-block;
	}
	.navbar-toggle {
		.navbar-vertical-align(28);
		background-color: transparent;
		position: absolute;
		right: 0;
		z-index: 2;
		
		.icon-bar {
			background-color: @link-color;
		}
	}
}

// navigation
.docs-nav__nav {
	// font-weight: 400;
	list-style: none;
	margin: 0;
	padding: 0;
	
	> li {
		margin-left: 2px;
	}
	> li > a {
		color: @gray;
		display: block;
		padding: 0 15px;
		text-decoration: none;
	}
}
.docs-nav__collapse.in {
	clear: left;
}
@media (max-width: @screen-xs-max) {
	.keystone-logo > img {
		height: 50px;
		width: 148px;
	}
	.docs-nav {
		.box-shadow( ~"0 1px 4px rgba(0,0,0,0.1), 0 1px 0 rgba(0,0,0,0.1)" );
		background-color: white;
		line-height: 4;
		margin-left: @grid-gutter-width / -2;
		margin-right: @grid-gutter-width / -2;
		.active a {
			.box-shadow( 3px 0 @link-color inset );
			background-color: #fafafa;
		}
		a:active {
			background-color: #fafafa;
		}
	}
}
@media (min-width: @screen-sm-min) {
	.docs-nav {
		float: right;
		
		.collapse {
			display: block;
		}
	}
	.docs-nav__nav {
		> li {
			float: left;
		}
		> li > a {
			&:hover,
			&:focus {
				@shadow: 0 -2px white inset, 0 -5px mix(@link-color, white, 50%) inset;
				.box-shadow( @shadow );
				background-color: transparent;
			}
		}
	
		// active
		> li.active > a {
			@shadow: 0 -2px white inset, 0 -5px @link-color inset;
			.box-shadow( @shadow );
			background: none transparent;
			color: @gray-darker;
		}
	}
}

// footer
.docs-footer {
	background-color: #fafafa;
	border-top: 1px solid @gray-lighter;
	color: @gray-light;
	font-size: @font-size-small;
	font-weight: 300;
	margin-top: 30px;
	padding-bottom: 30px;
	padding-top: 30px;
	position: relative;
	text-align: center;
	
	h4 {
		color: @gray;
	}
	a {
		color: @gray;
		
		&:hover {
			color: @gray-dark;
			text-decoration: none;
		}
	}
	
	@media (min-width: @screen-sm-min) {
		margin-top: 100px;
		padding-bottom: 60px;
		padding-top: 60px;
		
		li {
			padding-left: 0;
			padding-right: 0;
		}
		li + li:before {
			content: " \00B7 ";
			display: inline-block;
			padding: 0 15px;
		}
	}
	
}
.docs-footer-floor {
	background-color: @gray-lighter;
	line-height: 1;
	position: relative;
	text-align: center;
	
	.social-buttons {
		display: inline-block;
		margin: 20px 0;
		text-align: center;
		
		.social-button {
			display: inline-block;
		}
		.twitter-follow-button {
			margin-right: 10px;
		}
	}
	
}




// User Stuff
.profile-form__section {
	margin-bottom: 6em;
}
.profile-form__heading {
	.box-sizing( content-box );
	border-bottom: 1px solid @gray-lighter;
	font-size: @font-size-large;
	height: 30px;
	line-height: 30px;
	margin-bottom: @line-height-computed;
	margin-top: 0;
	padding-bottom: @line-height-computed;
}




// Theme
.popover-content {
	font-size: @font-size-small;
}
.alert {
	line-height: 1;
	padding-bottom: 10px;
	padding-top: 10px;
}




// Form Stuff
.form-horizontal .control-label {
	text-align: left;
}
label.checkbox {
	font-weight: 300;
}
textarea {
	.resizable(vertical);
}