//
// TYPE
// ==============================




body {
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 300;
	
	@media (min-width: @screen-sm-min) {
		font-size: 15px;
		font-size: 1.5rem;
	}
	@media (min-width: @screen-md-min) {
		font-size: 16px;
		font-size: 1.6rem;
	}
}

strong,
label {
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin-top: 0;
}