//
// UTILS
// ==============================

.caps {
	text-transform: uppercase;
}
.font-sm { font-size: @font-size-small; }
.font-md { font-size: @font-size-base; }
.font-lg { font-size: @font-size-large; }