extends layouts/base

block populate
	table#populate(border=0, cellpadding=0, cellspacing=0, width=660)
		
		//- Template Header
		//- tr: td(valign='top')#header
		
		//- Template Body
		tr: td(valign='top')#header-border-top
		tr: td(valign='middle')#header
			//- a(href=baseURL): img(src='/images/logo.gif', alt='Brand name')
			h1 Reset your Password
		tr: td(valign='top')#body
			table(border=0, cellpadding=0, cellspacing=0, width='100%')
				tr
					td(valign='top')#content
						p Forgotten your password? No problem, click the link below to reset it.
						hr
						a(href=baseURL + link) Reset your password