// Session
// ------------------------------





// Core variables and mixins
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";
@import "variables.less";

// Reset
@import "bootstrap/normalize.less";
@import "bootstrap/scaffolding.less";

@import "bootstrap/buttons.less";
@import "bootstrap/utilities.less";
@import "bootstrap/alerts.less";
@import "bootstrap/grid.less";

@import "entypo.less";





// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }





// Flash messages
#flash-messages {
	padding: 0;
	width: 100%;
}




// Type
p {
	margin: 0 0 1em;
}
h2, .h2 {
	font-size: 18px;
	line-height: 24px;
	font-weight: 200;
	margin: 20px 0;
	
	@media (min-width: @screen-sm-min) {
		font-size: 24px;
		line-height: 30px;
	}
}




// LAYOUT
// ------------------------------
.main-body {
	padding-left: 30px;
	padding-right: 30px;
}
@media (min-width: @screen-sm-min) {
	.main-body {
		margin-left: auto;
		margin-right: auto;
		width: 440px;
	}
	.session-form {
		margin-top: 100px;
	}
}




// SIGN IN
// ------------------------------
.session-form-heading {
	color: mix(@body-bg, @text-color, 50%);
}
.social-signup-buttons {
	.clearfix();
	margin-bottom: 20px;
	margin-left: -5px;
	margin-right: -5px;
	
	.signup-button {
		float: left;
		margin: 0;
		padding-left: 5px;
		padding-right: 5px;
		width: 33%;
		
		.entypo-social {
			font-size: 40px;
			vertical-align: middle;
		}
	}
}
.signup-button__text {
	display: none;
}
@media (min-width: @screen-md-min) {
	.signup-button__text {
		display: inline-block;
		vertical-align: middle;
		margin-left: 6px;
	}
}



// Social Buttons
.btn-facebook {
  .button-variant(white; @brand-facebook; @brand-facebook);
}
.btn-twitter {
  .button-variant(white; @brand-twitter; @brand-twitter);
}
.btn-github {
  .button-variant(white; @brand-github; @brand-github);
}


// SIGN IN
// ------------------------------
form {
	margin-bottom: 40px;
}
.form-control {
	border-radius: 0;
	border: 1px solid #ccc;
	display: block;
	margin-bottom: -1px;
	padding: @padding-base-vertical @padding-base-horizontal;
	position: relative;
	width: 100%;
	-webkit-appearance: none;
	
	&:first-of-type {
		.border-top-radius( 4px );
	}
	&:last-of-type {
		.border-bottom-radius( 4px );
		margin-bottom: 0;
	}
	
	// pop the focused field to the top so the border is visible
	&:focus {
		.box-shadow( 0 0 7px -2px fade(@link-color, 60%) );
		border-color: @link-color;
		z-index: 1;
	}
	
	@media (min-width: @screen-md-min) {
		padding: @padding-large-vertical @padding-large-horizontal;
	}
}
