extends ../../layouts/default

block css
	link(href="/styles/session.min.css", rel="stylesheet")

block content
	.container-sm
		form(method='post', novalidate).session-form
			input(type='hidden', name='action', value='send-password')
			h2 Forgot password
			+flash-messages(messages)
			.form-group
				label.sr-only Email
				input(type='email', name='email', placeholder='Email', tabindex=1).form-control
			button(type='submit', tabindex=2).btn.btn-primary.btn-block.btn-submit Send reset link
		p.text-center
			a(href='/login') Log in

block js
	script.
		var $form = $('.forgot-password');
		
		var $submit = $form.find('.btn-submit');
		
		$submit.click( function() {
			$submit.addClass( 'disabled' );
		});
		
		$form.find("input[type!='hidden']").first().focus();
