extends ../../layouts/default

block css
	link(href="/styles/session.min.css", rel="stylesheet")

block content
	.container-sm
		form(method='post', novalidate).session-form
			h2 Reset your password
			//- p Please enter your new password twice for confirmation and click 'change'.
			input(type='hidden', name='action', value='reset-password')
			+flash-messages(messages)
			.form-group
				label(for='field_password').sr-only New Password
				input(type='password', name='password', id='field_password', placeholder='New Password', tabindex=1).form-control
			.form-group
				label(for='field_password_confirm').sr-only Confirm Password
				input(type='password', name='password_confirm', id='field_password_confirm', placeholder='Confirm Password', tabindex=2).form-control
			button(type='submit', tabindex=3).btn.btn-primary.btn-block Set new password
		p.text-center
			a(href='/login').btn.btn-link Log in

block js
	script.
		var $form = $('.forgot-password');
		
		var $submit = $form.find('.btn');
		
		$submit.click( function() {
			$submit.addClass( 'disabled' );
		});
		
		$form.find("input[type!='hidden']").first().focus();
