extends ../../layouts/default

include ../../mixins/social-signin

block css
	link(href="/styles/session.min.css", rel="stylesheet")

block content
	.container-xs
		h1.sr-only Log into KeystoneJS Forum
		form(method='post', role='join').session-form
			input(type='hidden', name='action', value='signin')
			
			+social-signin
			.or-divider: span.or-divider-text or
			+flash-messages(messages)
			
			.form-group
				label(for='signin-email').sr-only Email
				input(type='email', name='signin_email', placeholder='Email', id='signin-email', value=form.signin_email).form-control
				label(for='signin-password').sr-only Password
				input(type='password', name='signin_password', placeholder='Password', id='signin-password', value=form.signin_password).form-control
			button(type='submit').btn.btn-primary.btn-block.btn-submit Log in

		p.text-center
			a(href='/forgot-password') Forgot your password?


block js
	script(src='/js/lib/bootstrap/modal.js')
	script.
		var $form = $('.session-form'),
			$submit = $form.find("[type='submit']");
		
		$submit.click( function() {
			$submit.addClass( 'disabled' );
		});
		
		$form.find("input[type!='hidden']").first().focus();
