//
// TOPICS
// ==============================




// common
.img-avatar {
	.img-responsive(inline-block);
	border-radius: 50%;
	border: 4px solid @gray-lighter;
}



// topics list
// ------------------------------

@avatar-width: 60px;
@topic-gutter: 15px;

.topics {
	// border-bottom: 1px solid @gray-lighter;
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		padding: 0 0 @topic-gutter;
		margin-top: @topic-gutter;
		border-bottom: 1px solid @gray-lighter;
	}
}
.topic {
	display: block;
	
	&:hover {
		text-decoration: none;
		
		.topic__title {
			text-decoration: underline;
		}
	}
}
.topic__avatar {
	.square( @avatar-width );
	background-color: @gray-lighter;
	border-radius: 50%;
	// border: 5px solid @gray-lighter;
	background-position: center;
	background-size: contain;
	display: none;
	float: left;
	margin-left: -(@avatar-width + 15);
	overflow: hidden;
	position: relative;
	vertical-align: middle;
	*zoom: 1;
}
.topic__count {
	display: none;
	color: @gray-light;
	float: right;
	text-align: center;
}
.topic__count-number {
	font-size: 2.6em;
	font-weight: 400;
}
.topic__count-label {
	font-size: @font-size-small;
}
.topic__info {
	color: @gray-light;
}
.topic__meta {
	display: none;
	margin-top: 1em;
}

.topic__title {
	font-size: @font-size-large;
}
@media (min-width: @screen-sm-min) {
	.topic {
		min-height: @avatar-width + (@topic-gutter * 2);
		padding-left: @avatar-width + @topic-gutter;
	}
	.topic__count,
	.topic__avatar,
	.topic__meta {
		display: block;
	}
}

// deleting topics
.topic__delete {
	.transition( ~"opacity 300ms ease, bottom 300ms ease" );
	position: absolute;
	opacity: 0;
	position: absolute;
	left: 20px;
	bottom: 15px;
	
	&:hover,
	&:active,
	&:focus {
		color: @brand-danger;
		outline: 0 none;
	}
}
.user-can-edit {
	position: relative;
	&:hover {
		.topic__delete {
			bottom: 18px;
			opacity: 1;
		}
	}
}


// no results
.no-results {
	border: 2px dashed @gray-lighter;
	margin-top: 2em;
	padding-bottom: 6em;
	padding-top: 6em;
	text-align: center;
}
.no-results__message {
	.lead();
	color: @gray-light;
	margin: 0;
}

// hide the avatar on profile pages
.profile-topics {
	.topic {
		padding-left: 0;
	}
	.topic__avatar {
		display: none;
	}
}




// topic details
.topic-details {}
.topic-details__header {
	border-bottom: 1px dashed @gray-lighter;
	margin-bottom: 2em;
	padding-bottom: 2em;

	.subheading {
		color: @gray-light;
		// display: inline-block;
		// margin-left: 1em;
		// vertical-align: middle;

		a {
			color: @gray;

			&:hover {
				color: @gray-dark;
			}
		}
	}
}
.topic-details__footer {
	border-top: 6px solid @gray-lighter;
	margin-top: 2em;
	padding-top: 2em;
}




// commenting
.comment-post {
	border-bottom: 1px dashed @gray-lighter;
	margin-bottom: 2em;
	padding-bottom: 2em;
	position: relative;
}
/*a*/.comment-post__author {
	color: @gray;
	font-weight: 400;
	
	&:hover {
		color: @text-color;
		text-decoration: none;
	}
}
.comment-field-input {
	&,&:focus {
		.box-shadow(0 1px 1px rgba(0, 0, 0, 0.075) inset);
	}
}
.comment-options {
	.transition( ~"opacity 200ms ease, right 200ms ease" );
	position: absolute;
	color: @gray-light;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 8px;
	
	/*
	&:hover,
	&:active,
	&:focus {
		color: @brand-danger;
		outline: 0 none;
	}
	*/
}
.comment-post:hover .comment-options {
	opacity: 1;
}
.media-avatar {
	display: none;
}
@media (min-width: @screen-sm-min) {
	.media-avatar {
		display: block;
	}
}




// filtering topics
// ------------------------------

.filter-nav {
	border-bottom: 1px solid @gray-lighter;
	list-style: none;
	font-weight: 400;
	margin: 0;
	padding: 0;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		display: inline-block;
	}
	a {
		color: @gray-light;
		display: block;
		padding: 5px;

		&:hover {
			color: @gray;
			text-decoration: none;
		}
	}
	.is-active > a {
		color: @gray-dark;
	}
}
@media (min-width: @screen-sm-min) {
	.filter-nav {
		font-size: 1.25em;
		a {
			padding: 15px;
		}
	}
}




// Type Settings
// ------------------------------

// code
pre {
	background-color: @gray-lightest;
	border-color: @gray-lighter;
	margin-bottom: 1.5em;
	margin-top: 1.5em;
	
	// override 
	code {
		white-space: pre;
	}
}



// sidebar navigation
.categories-heading {
	border-bottom: 1px solid @gray-lighter;
	display: block;
	font-size: @font-size-large;
	font-weight: 400;
	margin-bottom: 25px;
	padding-bottom: 15px;
	padding-top: 15px;
	
	@media (min-width: @screen-sm-min) {
		padding-left: 15px;
		padding-right: 15px;	
	}
}
	
